<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{block "title" .}} Example Site!! {{end}}</title>

    <link href="/static/styles/output.css" rel="stylesheet" />
  </head>

  <body>
    {{template "nav" .}}
    <main
      class="w-screen min-h-[100dvh] flex flex-col gap-4 items-center justify-center p-8"
    >
      {{template "main" .}}
    </main>
  </body>

  <footer>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </footer>
</html>
