{{define "title"}}Snippets{{end}} {{define "main"}}
<h1>Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {{range .Snippets}}
    <tr>
      <td class="px-2 py-1 border border-gray-700">
        <a href="/snippets/{{.ID}}">{{.Title}}</a>
      </td>
      <td class="px-2 py-1 border border-gray-700">{{humanDate .Created}}</td>
      <td class="px-2 py-1 border border-gray-700">{{.ID}}</td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}
