@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

.slide-it {
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

h1 {
  @apply text-3xl font-bold;
}

a {
  @apply font-medium text-purple-300 hover:text-purple-400;
}

form {
  @apply flex flex-col gap-8 w-full max-w-xl;
}

label {
  @apply flex flex-col gap-1;
}

label span {
  @apply text-red-300 italic;
}

input,
textarea,
select {
  @apply bg-slate-800 text-white p-2 px-4 rounded outline-none border border-transparent focus:border-blue-700;
}

button {
  @apply px-4 py-2 rounded bg-orange-400 text-black font-medium;
}
