{{define "title"}}New Snippet{{end}} {{define "main"}}
<form method="POST" action="/snippets/create">
  <h1>Create New Snippet</h1>

  <section>
    <label>
      Title
      <input
        type="text"
        name="title"
        placeholder="Title of Snippet..."
        value="{{.Form.Title}}"
      />
    </label>
    {{with .Form.FieldErrors.title}}
    <span class="text-red-500">{{.}}</span>
    {{end}}
  </section>

  <section>
    <label>
      Content
      <textarea name="content" rows="4" placeholder="Content of Snippet...">
{{.Form.Content}}</textarea
      >
    </label>
    {{with .Form.FieldErrors.content}}
    <span class="text-red-500">{{.}}</span>
    {{end}}
  </section>

  <section>
    <label>
      Expires
      <input type="datetime-local" name="expires" value="{{.Form.Expires}}" />
    </label>
    {{with .Form.FieldErrors.expires}}
    <span class="text-red-500">{{.}}</span>
    {{end}}
  </section>

  <div class="flex flex-row items-center justify-end flex-wrap gap-2">
    <a href="/snippets">
      <button class="bg-slate-300" type="button">Cancel</button>
    </a>
    <button class="bg-orange-400" type="submit">Submit</button>
  </div>
</form>
{{end}}
